//
// Pinout for TangConsoleDCJ11MEM rev.2 board
//
// clock (50MHz clock)
// 
IO_LOC "sys_clk50" V22; IO_PORT "sys_clk50" PULL_MODE=NONE IO_TYPE=LVCMOS33 DRIVE=OFF;

//
// SW (on-board user keys)
//
IO_LOC "sw1_n"  AA13; IO_PORT "sw1_n" PULL_MODE=UP IO_TYPE=LVCMOS15;
IO_LOC "sw2_n"  AB13; IO_PORT "sw2_n" PULL_MODE=UP IO_TYPE=LVCMOS15;

//
// LED (on-board LEDs)
//
IO_LOC "led_r"  U12; IO_PORT "led_r"  PULL_MODE=NONE IO_TYPE=LVCMOS33; // READY
IO_LOC "led_b"  G11; IO_PORT "led_b"  PULL_MODE=NONE IO_TYPE=LVCMOS33; // DONE

//
// FPGA UART
//
IO_LOC "USB_TX" U15; IO_PORT "USB_TX" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "USB_RX" V14; IO_PORT "USB_RX" PULL_MODE=NONE IO_TYPE=LVCMOS15;

//
// SDCard
//
IO_LOC "sd_clk"   V15; IO_PORT "sd_clk"  PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_mosi"  Y16; IO_PORT "sd_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_miso" AA15; IO_PORT "sd_miso" PULL_MODE=NONE IO_TYPE=LVCMOS15;
IO_LOC "sd_cs_n"  W15; IO_PORT "sd_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS15;

//
// pmod0
//
// +---+---+---+---+---+---+
// |3V3|GND| 6 | 4 | 2 | 0 |
// +---+---+---+---+---+---+
// |3V3|GND| 7 | 5 | 3 | 1 |
// +---+---+---+---+---+---+
IO_LOC "pmod0[0]"   V18; IO_PORT "pmod0[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[1]"   V19; IO_PORT "pmod0[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[2]"   G21; IO_PORT "pmod0[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[3]"   G22; IO_PORT "pmod0[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[4]"   F18; IO_PORT "pmod0[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[5]"   E18; IO_PORT "pmod0[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[6]"   C22; IO_PORT "pmod0[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "pmod0[7]"   B22; IO_PORT "pmod0[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//
// pmod1
//
// +---+---+---+---+---+---+
// |3V3|GND| 6 | 4 | 2 | 0 |
// +---+---+---+---+---+---+
// |3V3|GND| 7 | 5 | 3 | 1 |
// +---+---+---+---+---+---+
//IO_LOC "pmod[0]"  W19; IO_PORT "pmod[0]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[1]" W20; IO_PORT "pmod1[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "LOG_TX"   W20; IO_PORT "LOG_TX"   PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[2]" F19; IO_PORT "pmod1[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[3]" F20; IO_PORT "pmod1[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[4]" E22; IO_PORT "pmod1[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[5]" D22; IO_PORT "pmod1[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[6]" E21; IO_PORT "pmod1[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
//IO_LOC "pmod1[7]" D21; IO_PORT "pmod1[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//
// DCJ11 pins
//
// SDRAM1 CONN 1, 3, 5, ..., 39 // R19 is a "CPU" pin
IO_LOC "DAL[6]"   R19; IO_PORT  "DAL[6]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//01
IO_LOC "DAL[7]"   U21; IO_PORT  "DAL[7]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//03
IO_LOC "DAL[8]"   R17; IO_PORT  "DAL[8]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//05
IO_LOC "DAL[0]"   T18; IO_PORT  "DAL[0]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//07
IO_LOC "EVENT_n"  W17; IO_PORT  "EVENT_n"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//09
//      cn1_11 = +5V
IO_LOC "IRQ0"     W22; IO_PORT  "IRQ0"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//13
IO_LOC "IRQ2"     P17; IO_PORT  "IRQ2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//15
IO_LOC "DAL[10]"  N14; IO_PORT  "DAL[10]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//17
IO_LOC "DAL[12]"  V20; IO_PORT  "DAL[12]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//19
IO_LOC "DAL[14]"  Y22; IO_PORT  "DAL[14]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//21
IO_LOC "DAL[1]"   AB22; IO_PORT "DAL[1]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//23
IO_LOC "DAL[3]"   AA21; IO_PORT "DAL[3]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//25
IO_LOC "DAL[5]"   AB20; IO_PORT "DAL[5]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//27
IO_LOC "BUFCTL_n" AA18; IO_PORT "BUFCTL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;//29
IO_LOC "DALH[17]" Y19; IO_PORT  "DALH[17]" PULL_MODE=NONE IO_TYPE=LVCMOS33;//31
IO_LOC "DALH[16]" T20; IO_PORT  "DALH[16]" PULL_MODE=NONE IO_TYPE=LVCMOS33;//33
IO_LOC "CLK2"     U18; IO_PORT  "CLK2"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//35
IO_LOC "INIT_n"   R16; IO_PORT  "INIT_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//37
IO_LOC "INIT_SW"  R14; IO_PORT  "INIT_SW"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//39

// SDRAM1 CONN 2, 4, 6, ..., 40
IO_LOC "AIO[0]"   P19; IO_PORT  "AIO[0]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//02
IO_LOC "AIO[1]"   T21; IO_PORT  "AIO[1]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//04
IO_LOC "AIO[2]"   P16; IO_PORT  "AIO[2]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//06
IO_LOC "AIO[3]"   R18; IO_PORT  "AIO[3]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//08
IO_LOC "HALT"     V17; IO_PORT  "HALT"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//10
//      cn1_12 = GND
IO_LOC "IRQ1"     W21;  IO_PORT "IRQ1"     PULL_MODE=NONE IO_TYPE=LVCMOS33;//14
IO_LOC "DAL[9]"   N17;  IO_PORT "DAL[9]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//16
IO_LOC "DAL[11]"  N13;  IO_PORT "DAL[11]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//18
IO_LOC "DAL[13]"  U20;  IO_PORT "DAL[13]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//20
IO_LOC "DAL[15]"  Y21;  IO_PORT "DAL[15]"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//22
IO_LOC "DAL[2]"   AB21; IO_PORT "DAL[2]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//24
IO_LOC "DAL[4]"   AA20; IO_PORT "DAL[4]"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//26
IO_LOC "ABORT_n"  AA19; IO_PORT "ABORT_n"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//28
IO_LOC "ALE_n"    AB18; IO_PORT "ALE_n"    PULL_MODE=NONE IO_TYPE=LVCMOS33;//30
IO_LOC "SCTL_n"   Y18;  IO_PORT "SCTL_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//32
IO_LOC "GPIO_RX"  N15;  IO_PORT "GPIO_RX"  PULL_MODE=UP   IO_TYPE=LVCMOS33;//34
IO_LOC "CONT_n"   U17;  IO_PORT "CONT_n"   PULL_MODE=NONE IO_TYPE=LVCMOS33;//36
IO_LOC "HALT_SW"  P15;  IO_PORT "HALT_SW"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//38
IO_LOC "GPIO_TX"  P14;  IO_PORT "GPIO_TX"  PULL_MODE=NONE IO_TYPE=LVCMOS33;//40
